<nav class="col-12 col-md-3 p-3 mt-md-4">
    <ul class="">
        <li>
            <!-- NavLink is used to create links in the main navigation -->
            <NavLink class="nav-item text-white text-decoration-none" href="" Match="NavLinkMatch.All">
                <span class="text-white text-decoration-none nav-link" aria-hidden="true">Home</span> 
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-item text-white text-decoration-none" href="converter">
                <span class="text-white text-decoration-none nav-link" aria-hidden="true">Converter</span> 
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-item text-white text-decoration-none" href="courses">
                <span class="text-white text-decoration-none nav-link" aria-hidden="true">Completed courses</span> 
            </NavLink>
        </li>
    </ul>
</nav>
