<!-- Route to converter page  -->
@page "/converter"
<!-- Page title -->
<PageTitle>Converter</PageTitle>

<h1>Converter</h1><hr />

<!-- Including the components "MetersToFeetComponent" and "KilometersToMilesComponent" -->
<MetersToFeetComponent />
<KilometersToMilesComponent />
